<div class="cards">
  <mat-card class="create_card" (click)="openPasswordDialog()">
    <mat-icon class="button_icons" color="accent">create</mat-icon>
    <mat-card-content class="button_text">Create Code</mat-card-content>
    <mat-card-content class="button_info_text">Erstelle einen<br>neuen Code</mat-card-content>
  </mat-card>
  <mat-card class="show_card" routerLink="/codes-table">
    <mat-icon class="button_icons" color="accent">vpn_key</mat-icon>
    <mat-card-content class="button_text">Show Codes</mat-card-content>
    <mat-card-content class="button_info_text">Zeige deine<br>vorhandenen Codes</mat-card-content>
  </mat-card>
</div>
