<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
          color="accent" routerLink="">
    <mat-icon>lock_open</mat-icon>
  </button>
  <span routerLink="" style="cursor:pointer;">Door-Guard</span>
  <a id="werbung" href="https://github.com/qeinz" target="_blank" style="cursor: pointer;">by qeinz</a>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
          (click)="openAccountTab()">
    <mat-icon color="accent">account_circle</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
