<body [ngClass]="themeService.themeSignal()">
<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
          color="accent" routerLink="">
    <mat-icon>lock_open</mat-icon>
  </button>
  <span routerLink="" style="cursor:pointer;">Door-Guard</span>
  <a id="werbung" href="https://github.com/qeinz" target="_blank" style="cursor: pointer;">by qeinz</a>
  <span class="example-spacer"></span>

  <mat-icon (click)="toggleTheme()" [attr.id]="isChecked ? 'dark-icon' : 'light-icon'" style="cursor: pointer">
    {{ isChecked ? 'bedtime' : 'brightness_7' }}
  </mat-icon>


  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
          [matMenuTriggerFor]="accountMenu" *ngIf="loggedIn">
    <mat-icon color="accent">account_circle</mat-icon>
  </button>

</mat-toolbar>

<mat-menu #accountMenu="matMenu" class="account_menu">
  <div class="account_menu_text">
    <button mat-menu-item disabled>{{ authService.getUsername() }}</button>
    <button mat-menu-item disabled>{{ authService.getToken() }}</button>
  </div>
  <hr>
  <div class="account_menu_buttons">

    <button mat-menu-item (click)="dashboard()">
      <mat-icon>dashboard</mat-icon>
    </button>

    <button mat-menu-item (click)="settings()">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon color="warn">logout</mat-icon>
    </button>
  </div>
</mat-menu>

<router-outlet></router-outlet>
</body>
