<h2 mat-dialog-title>Generated Password</h2>
<div mat-dialog-content class="ausgabe">
  <p color="green">{{ data.password }}</p>
  <button mat-icon-button (click)="copyPassword()" aria-label="Copy Password">
    <mat-icon class="copy-icon">content_copy</mat-icon>
  </button>
</div>
<div mat-dialog-actions class="dialog-buttons">
  <button mat-button [mat-dialog-close]="'close'" color="primary">Close</button>
  <span class="spacer"></span>
  <button mat-button (click)="sharePassword()" color="primary"><mat-icon>share</mat-icon>Share</button>
</div>
