<h2 mat-dialog-title>Generate Password</h2>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Select Password Type</mat-label>
    <mat-select [(ngModel)]="passwordType">
      <mat-option value="onetime">One-time</mat-option>
      <mat-option value="oneday">One-day</mat-option>
      <mat-option value="infinite">Infinite</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions class="dialog-buttons">
  <button mat-button color="warn" (click)="closeDialog()">Cancel</button>
  <span class="spacer"></span>
  <button mat-button color="primary" (click)="generatePassword()">Generate</button>
</div>
